<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ get_url(path="sans.png") }}">
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
    {% block rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}
</head>

<body>
    <nav>
  <a href="{{ get_url(path='@/_index.md') }}">CHISH</a>

  <!-- Top level list: padding-left set to 0 to align with CHISH -->
  <ul style="padding-left: 0; list-style: none;">
    <li><a href="{{ get_url(path='@/blogs/_index.md') }}">blogs/</a></li>
    <li><a href="{{ get_url(path='@/guides/_index.md') }}">guides/</a></li>
    <li><a href="{{ get_url(path='@/projects/_index.md') }}">projects/</a></li>
  </ul>

  <div class="nav-bottom">
    <span class="prompt">~ $ whoami</span>
    <span class="whoami">chish -- compsci ug</span>
    <a href="{{ get_url(path='@/about.md') }}" class="nav-about-link">./about</a>
    <a href="{{ get_url(path='rss.xml') }}" class="nav-about-link">rss</a>
  </div>
</nav>
  <ul style="padding-left: 0; list-style: none;">
  <main>
    {% block content %}{% endblock content %}
  </main>
</body>
