<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
</head>

<body>
  <nav>
      <a href="{{ get_url(path='@/_index.md') }}"><strong>HOME</strong></a>
  <ul>
    <li><a href="{{ get_url(path="@/blogs/_index.md") }}">blogs/</a></li>
    <li><a href="{{ get_url(path="@/guides/_index.md") }}">guides/</a></li>
    <li><a href="{{ get_url(path="@/projects/_index.md") }}">projects/</a></li>
  </ul>
  </nav>
  <section>
    {%block content %} {%endblock content%}
  </section>
</body>
