<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ get_url(path="sans.png") }}">
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
</head>

<body>
  <nav>
    <div class="nav-top">
      <a href="{{ get_url(path='@/_index.md') }}"><strong>HOME</strong></a>
      <ul>
        <li><a href="{{ get_url(path="@/blogs/_index.md") }}">blogs/</a></li>
        <li><a href="{{ get_url(path="@/guides/_index.md") }}">guides/</a></li>
        <li><a href="{{ get_url(path="@/projects/_index.md") }}">projects/</a></li>
      </ul>
    </div>
    <div class="nav-bottom">
      <span class="prompt">~ $ whoami</span>
      <span class="whoami">chish -- compsci ug</span>
      <a href="{{ get_url(path='@/about.md') }}" class="nav-about-link">./about</a>
    </div>
  </nav>
  <main>
    {%block content %} {%endblock content%}
  </main>
</body>
