{% extends "base.html" %}


{% block content %}
<article>
  {% if page.extra.profile_pic %}
  <img src="{{ get_url(path=page.extra.profile_pic) }}" alt="{{ page.title }}" class="profile-pic-about">
  {% endif %}
  <h1><a class="zola-anchor" href="#">#</a>{{page.title}}</h1>

  {# Renders nothing unless the page carries tags or one of the section's
     extras, so blogs and guides are unaffected. #}
  {% include "partials/entry-meta.html" %}

  {{page.content | safe}}
</article>
{% endblock content %}
